-- Insert sample collections
INSERT INTO tbl_collections (name, release_date, total_cards)
VALUES 
('Hidden Fates', '2019-08-23', 163),
('Shining Legends', '2017-10-06', 73);

-- Insert sample stages
INSERT INTO tbl_stages (name, evolves_from, evolution_rule, description)
VALUES
('Basic', NULL, 'Can be played directly onto the field.', 'Starting stage PokÃ©mon'),
('Stage 1', 'Rowlet', 'Must evolve from Rowlet.', 'Intermediate evolution'),
('Stage 2', 'Dartrix', 'Must evolve from Dartrix.', 'Final evolution stage'),
('Stage 1', 'Charmander', 'Must evolve from Charmander.', 'Charmeleon evolution'),
('Stage 2', 'Charmeleon', 'Must evolve from Charmeleon.', 'Charizard evolution');

-- Insert sample additionals
INSERT INTO tbl_additionals (name, rule_effect, limit_per_deck, description)
VALUES
('GX', 'When knocked out, opponent takes 2 prize cards.', 4, 'Special GX PokÃ©mon'),
('EX', 'When knocked out, opponent takes 2 prize cards.', 4, 'Older EX mechanic'),
('VMAX', 'When knocked out, opponent takes 3 prize cards.', 4, 'Gigantamax PokÃ©mon');

-- Insert sample cards (10 PokÃ©mon)

-- Insert sample attacks

-- Insert sample abilities
GO
-- Complementary inserts: more PokÃ©mon (30+ total)

-- Add extra stages for evolutions not yet covered

-- Add more collections to support the complementary cards
INSERT INTO tbl_collections (id, name, release_date, total_cards)
VALUES
(3, 'PokÃ©mon TCG Collection', '2020-01-01', 20);

-- Add more PokÃ©mon cards (complementary to initial 10)

-- Add attacks for new PokÃ©mon
INSERT INTO tbl_attacks (card_id, name, energy_cost, damage, effect, attack_rule)
SELECT c.id, 'Vine Whip', '1 Grass', 20, 'Basic attack.', 'No special rule'
FROM tbl_cards c WHERE c.name = 'Bulbasaur'
UNION ALL
SELECT c.id, 'Solar Beam', '4 Grass', 120, 'Standard damage.', 'No special rule'
FROM tbl_cards c WHERE c.name = 'Ivysaur'
UNION ALL
SELECT c.id, 'Bubble', '1 Water', 20, 'May Paralyze opponent.', 'Status effect'
FROM tbl_cards c WHERE c.name = 'Squirtle'
UNION ALL
SELECT c.id, 'Hydro Pump', '4 Water', 120, 'Extra damage per Water energy.', 'Scaling rule'
FROM tbl_cards c WHERE c.name = 'Wartortle'
UNION ALL
SELECT c.id, 'Sing', '2 Colorless', 0, 'Opponent is Asleep.', 'Status effect'
FROM tbl_cards c WHERE c.name = 'Jigglypuff'
UNION ALL
SELECT c.id, 'Fairy Wind', '2 Fairy', 60, 'Standard damage.', 'No special rule'
FROM tbl_cards c WHERE c.name = 'Wigglytuff GX'
UNION ALL
SELECT c.id, 'Moonlight Fang', '2 Dark', 90, 'Prevent damage next turn.', 'Defensive rule'
FROM tbl_cards c WHERE c.name = 'Umbreon GX'
UNION ALL
SELECT c.id, 'Psychic', '2 Psychic', 80, 'Extra damage per energy.', 'Scaling rule'
FROM tbl_cards c WHERE c.name = 'Espeon GX'
UNION ALL
SELECT c.id, 'Seismic Toss', '3 Fighting', 100, 'Standard damage.', 'No special rule'
FROM tbl_cards c WHERE c.name = 'Machop'
UNION ALL
SELECT c.id, 'Shadow Ball', '3 Psychic', 100, 'Opponent discards energy.', 'Energy discard rule'
FROM tbl_cards c WHERE c.name = 'Gengar'
UNION ALL
SELECT c.id, 'Psychic', '3 Psychic', 120, 'Extra damage per energy.', 'Scaling rule'
FROM tbl_cards c WHERE c.name = 'Kadabra'
UNION ALL
SELECT c.id, 'Dragon Claw', '3 Dragon', 130, 'Standard damage.', 'No special rule'
FROM tbl_cards c WHERE c.name = 'Dragonite EX'
UNION ALL
SELECT c.id, 'G-Max Resonance', '4 Water', 250, 'Opponentâ€™s PokÃ©mon is Paralyzed.', 'Status effect'
FROM tbl_cards c WHERE c.name = 'Lapras VMAX';

-- Add abilities for new PokÃ©mon
INSERT INTO tbl_abilities (card_id, name, trigger_condition, effect, usage_limit)
SELECT c.id, 'Overgrow', 'When HP < 30%', 'Increase Grass attack damage by 20.', 'Passive'
FROM tbl_cards c WHERE c.name = 'Ivysaur'
UNION ALL
SELECT c.id, 'Torrent', 'When HP < 30%', 'Increase Water attack damage by 20.', 'Passive'
FROM tbl_cards c WHERE c.name = 'Wartortle'
UNION ALL
SELECT c.id, 'Cute Charm', 'When attacked', 'Opponent may become Infatuated.', 'Passive'
FROM tbl_cards c WHERE c.name = 'Wigglytuff GX'
UNION ALL
SELECT c.id, 'Dark Cloak', 'Always active', 'Free retreat cost for Dark PokÃ©mon.', 'Passive'
FROM tbl_cards c WHERE c.name = 'Umbreon GX'
UNION ALL
SELECT c.id, 'Synchronize', 'When affected by status', 'Opponent also receives status.', 'Passive'
FROM tbl_cards c WHERE c.name = 'Espeon GX'
UNION ALL
SELECT c.id, 'Guts', 'When HP < 50%', 'Increase Fighting attack damage by 40.', 'Passive'
FROM tbl_cards c WHERE c.name = 'Machamp'
UNION ALL
SELECT c.id, 'Levitate', 'Always active', 'Immune to Ground-type attacks.', 'Passive'
FROM tbl_cards c WHERE c.name = 'Gengar'
UNION ALL
SELECT c.id, 'Inner Focus', 'Always active', 'Prevents flinching.', 'Passive'
FROM tbl_cards c WHERE c.name = 'Kadabra'
UNION ALL
SELECT c.id, 'Multiscale', 'When at full HP', 'Reduce damage by half.', 'Passive'
FROM tbl_cards c WHERE c.name = 'Dragonite EX'
UNION ALL
SELECT c.id, 'Shell Armor', 'Always active', 'Reduce damage taken by 30.', 'Passive'
FROM tbl_cards c WHERE c.name = 'Lapras VMAX';
GO
USE pokemontcg_db;

-- Populate weakness and resistance on all cards already inserted
UPDATE tbl_cards
SET weakness = CASE name
    WHEN 'Decidueye GX' THEN 'Fire, Flying'
    WHEN 'Rowlet' THEN 'Fire, Flying'
    WHEN 'Dartrix' THEN 'Fire, Flying'
    WHEN 'Charizard GX' THEN 'Water, Rock'
    WHEN 'Charmander' THEN 'Water, Rock'
    WHEN 'Charmeleon' THEN 'Water, Rock'
    WHEN 'Pikachu' THEN 'Fighting'
    WHEN 'Mewtwo GX' THEN 'Psychic'
    WHEN 'Rayquaza EX' THEN 'Ice'
    WHEN 'Snorlax VMAX' THEN 'Fighting'
    WHEN 'Bulbasaur' THEN 'Fire, Psychic'
    WHEN 'Ivysaur' THEN 'Fire, Psychic'
    WHEN 'Venusaur' THEN 'Fire, Psychic'
    WHEN 'Squirtle' THEN 'Electric, Grass'
    WHEN 'Wartortle' THEN 'Electric, Grass'
    WHEN 'Blastoise' THEN 'Electric, Grass'
    WHEN 'Jigglypuff' THEN 'Fighting'
    WHEN 'Wigglytuff GX' THEN 'Fighting'
    WHEN 'Eevee' THEN 'Fighting'
    WHEN 'Umbreon GX' THEN 'Fighting'
    WHEN 'Espeon GX' THEN 'Dark'
    WHEN 'Machop' THEN 'Psychic'
    WHEN 'Machoke' THEN 'Psychic'
    WHEN 'Machamp' THEN 'Psychic'
    WHEN 'Gastly' THEN 'Dark'
    WHEN 'Haunter' THEN 'Dark'
    WHEN 'Gengar' THEN 'Dark'
    WHEN 'Abra' THEN 'Psychic'
    WHEN 'Kadabra' THEN 'Psychic'
    WHEN 'Alakazam' THEN 'Psychic'
    WHEN 'Dragonite EX' THEN 'Ice'
    WHEN 'Lapras VMAX' THEN 'Electric, Grass'
    ELSE NULL
END,
resistance = CASE name
    WHEN 'Decidueye GX' THEN 'Water, Fighting'
    WHEN 'Rowlet' THEN NULL
    WHEN 'Dartrix' THEN NULL
    WHEN 'Charizard GX' THEN 'Fighting'
    WHEN 'Charmander' THEN NULL
    WHEN 'Charmeleon' THEN NULL
    WHEN 'Pikachu' THEN NULL
    WHEN 'Mewtwo GX' THEN 'Fighting'
    WHEN 'Rayquaza EX' THEN 'Fighting'
    WHEN 'Snorlax VMAX' THEN NULL
    WHEN 'Bulbasaur' THEN 'Water, Electric'
    WHEN 'Ivysaur' THEN 'Water, Electric'
    WHEN 'Venusaur' THEN 'Water, Electric'
    WHEN 'Squirtle' THEN NULL
    WHEN 'Wartortle' THEN NULL
    WHEN 'Blastoise' THEN NULL
    WHEN 'Jigglypuff' THEN NULL
    WHEN 'Wigglytuff GX' THEN NULL
    WHEN 'Eevee' THEN NULL
    WHEN 'Umbreon GX' THEN 'Psychic'
    WHEN 'Espeon GX' THEN 'Psychic'
    WHEN 'Machop' THEN NULL
    WHEN 'Machoke' THEN NULL
    WHEN 'Machamp' THEN NULL
    WHEN 'Gastly' THEN NULL
    WHEN 'Haunter' THEN NULL
    WHEN 'Gengar' THEN NULL
    WHEN 'Abra' THEN NULL
    WHEN 'Kadabra' THEN NULL
    WHEN 'Alakazam' THEN NULL
    WHEN 'Dragonite EX' THEN 'Fighting'
    WHEN 'Lapras VMAX' THEN NULL
    ELSE NULL
END;
GO
